body {
    margin: 20px;
    background-color: rgb(206, 162, 108);
}

.header {
    font-family: cursive;
}

.nav {
    ul { 
        list-style: none;
        display: flex;

        li{
            padding: 10px 20px;  
            
            .img-nav {
                width: 100px;
                height: 100px;
}
            }
        }
    }
}

.container {
    width: 100%;
    display: flex;

    .sidebar-first {
        width: 20%;
        background-color: rgba(231, 164, 119, 0.856);

        .title-sidebar{
            margin: 15px;
        }

        .img-recipe {
            width: 180px;
            height: 210px;
        }
    }

    .content {
        width: 60%;
        background-color: blue;
        margin-left: 20px;
        margin-right: 20px;  
        
        .title-content {
            text-align: center;
            font-family: cursive;
            margin-right: 15px;
            }
        
        .elements-content {
            font-size: 17px;
        }
    }

    .sidebar-second {
        width: 20%;
        background-color: blueviolet;
    }
}