body {
  margin: 20px;
  background-color: #f8f4f0;
}

.header {
  font-family: cursive;
}

.header .style-title-header {
  font-size: 30px;
}

@media only screen and (max-width: 576px) {
  .header .style-title-header {
    font-size: 20px;
  }
}

.nav {
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav .dropdown {
  display: none;
  position: relative;
}

@media only screen and (max-width: 576px) {
  .nav .dropdown {
    display: inline-block;
  }
}

.nav .dropdown .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav .dropdown .dropdown-content .img-dropdown {
  height: 200px;
  width: 192px;
}

.nav .dropdown .dropdown-content .a-style-dropdown {
  text-decoration: none;
  text-align: center;
  color: #461240;
  font-size: 20px;
  padding: 12px 16px;
  display: block;
}

.nav .dropdown-content a:hover {
  background-color: #ddd;
}

.nav .dropdown:hover .dropdown-content {
  display: block;
}

.nav .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 576px) {
  .nav ul {
    display: none;
  }
}

.nav ul li {
  padding: 10px 20px;
}

.nav ul li .style-a-nav {
  text-decoration: none;
  color: #a0a0c2;
}

.nav ul li .img-nav {
  width: 270px;
  height: 255px;
}

.nav ul li .stylefigcaption {
  font-size: 28px;
  font-family: cursive;
  text-align: center;
  background-color: #eedac7;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 576px) {
  .container {
    display: inline-table;
  }
}

.container .sidebar-first {
  width: 25%;
  background-color: #a0a0c2;
}

@media only screen and (max-width: 576px) {
  .container .sidebar-first {
    width: 100%;
  }
}

.container .sidebar-first .title-sidebar {
  text-align: center;
  font-family: cursive;
  color: #461240;
}

.container .sidebar-first .img-recipe {
  width: 266x;
  height: 304px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container .content {
  width: calc(55% - 40px);
  background-color: #a0a0c2;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 576px) {
  .container .content {
    width: 100%;
    margin: 0;
  }
}

.container .content .title-content {
  text-align: center;
  font-family: cursive;
  color: #461240;
}

.container .content .elements-content {
  font-size: 20px;
}

.container .sidebar-second {
  width: 20%;
  background-color: #a0a0c2;
}

@media only screen and (max-width: 576px) {
  .container .sidebar-second {
    width: 100%;
  }
}

.container .sidebar-second .style-title-sidebar-second {
  font-family: cursive;
  text-align: center;
  color: #461240;
}

.container .sidebar-second .checklist-container {
  padding: 0 15px 15px 15px;
  font-size: 18px;
}

.second-container {
  background-color: a89deb;
  font-size: 0;
}

.second-container .style-title-second-container {
  font-family: cursive;
  font-size: 20px;
}

.second-container .popular-recipes-wrapp .popular-recipes:nth-child(5n) {
  margin-right: 0;
}

.second-container .popular-recipes-wrapp .popular-recipes {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
  width: calc((100% - 40px) / 5);
  height: 245px;
  overflow: hidden;
  background-color: #a0a0c2;
}

@media only screen and (max-width: 576px) {
  .second-container .popular-recipes-wrapp .popular-recipes {
    width: 100%;
  }
}

.second-container .popular-recipes-wrapp .popular-recipes .style-a-popular-recipe {
  text-decoration: none;
}

.second-container .popular-recipes-wrapp .popular-recipes .style-a-popular-recipe .style-title-popular-recipes {
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  color: #f8f9fb;
  padding: 5px;
}

.second-container .popular-recipes-wrapp .popular-recipes .style-a-popular-recipe .style-ol-popular-recipes {
  margin: 0;
  padding: 5px 18px 5px 40px;
  font-size: 18px;
}

.second-container .popular-recipes-wrapp .popular-recipes .style-a-popular-recipe .style-img-popular-recipes {
  width: 195px;
  height: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.third-container .style-img-third-container {
  display: block;
  margin-left: 90px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 576px) {
  .third-container .style-img-third-container {
    margin-left: 0;
    height: 200px;
  }
}

.footer {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */