body {
    margin: 20px;
    background-color: #d7ccc0;
}

.header {
    font-family: cursive;
    
    .style-title-header{
        font-size: 30px;
    }
}

.nav {
    margin-top: 25px;
    margin-bottom: 25px;

    ul { 
        list-style: none;
        display: flex;

        li{
            padding: 10px 20px;  

            .style-a-nav {
                text-decoration: none;
                color: aliceblue;
            }

            .img-nav {
                width: 270px;
                height: 255px;    
            }

            .stylefigcaption{
                font-size: 28px;
                font-family: cursive;
                text-align: center;
                background-color: rgb(160, 160, 194);
            }
        }   
    }
}

.container {
    width: 100%;
    display: flex;

    .sidebar-first {
        width: 25%;
        background-color: rgba(145, 151, 240, 0.856);

        .title-sidebar{
            text-align: center;
            font-family: cursive;
            color: #461240;
        }

        .img-recipe {
            width: 266x;
            height: 304px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .content {
        width: calc(55% - 40px);
        background-color: rgb(124, 124, 168);
        margin-left: 20px;
        margin-right: 20px;  
        
        .title-content {
            text-align: center;
            font-family: cursive;
            color: #461240;
            }
        
        .elements-content {
            font-size: 20px;
        }
    }

    .sidebar-second {
        width: 20%;
        background-color: rgb(168, 157, 235);

        .style-title-sidebar-second {
            font-family: cursive;
            text-align: center;          
            color: #461240;
        }

        .checklist-container{
            padding: 0 15px 15px 15px;
            font-size: 18px;
        }
    }
}

.second-container {
    background-color: a89deb;
    font-size: 0;

    .style-title-second-container {
        font-family: cursive;
        font-size: 20px;
    }

    .popular-recipes-wrapp{       
        .popular-recipes:nth-child(5n) {
            margin-right: 0;
        }
    }

    .popular-recipes {
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 10px;
        width: calc((100% - 40px) / 5) ;
        height: 245px;
        overflow: hidden;
        background-color: #9f90f5 ; 

        .style-a-popular-recipe {
            text-decoration: none;
        

            .style-title-popular-recipes{
                margin: 0;
                font-size: 20px;
                text-align: center;
                font-family: cursive;
                color: #f8f9fb;
                padding: 5px;
            }

            .style-ol-popular-recipes{
                margin: 0;
                padding: 5px 18px 5px 40px;
                font-size: 18px;
            }

            .style-img-popular-recipes{
                width: 195px;
                height: 190px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.third-container {


    .style-img-third-container {
        display: block;
        margin-left: 90px;
        margin-bottom: 25px;
    }
}

.footer{
    background-color: chartreuse;
    text-align: center;
}

